spring:
  application:
    name: secure-drop

  datasource:
    url: ${DB_BASE_URL}/dev_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 300000
      max-lifetime: 1800000
      connection-timeout: 30000

  jpa:
    show-sql: true